/* Home Page */
.navbar {
  padding: 0 2rem 2rem;
  font-family: "Francois One", sans-serif;
}
.navbar-brand:hover {
  color: grey;
}
.navbar-brand {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
}
.home-nav-collapse {
  color: white;
}

.nav-link:hover {
  color: grey;
}
.title-text {
  font-family: "Bebas Neue", cursive;
  color: #b2d430;
  margin-left: 2rem;
  padding-top: 5rem;
}
.title-section {
  padding-bottom: 7rem;
}
.fas {
  margin: 0 auto 0 auto;
  font-size: 3rem;
  color: white;
}
.quotes {
  font-size: 3.5rem;
  color: #b2d430;
  background-color: black;
  text-align: center;
}

body {
  background-repeat: no-repeat;
  background-size: 80rem;
}
.btn {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-left: 1rem;
  font-family: "Abel", sans-serif;

  font-size: 1.5rem;
}

.but-text1 {
  text-decoration: none;
  color: black;
}
.but-text1:hover {
  color: grey;
}
.but-text2 {
  text-decoration: none;
  color: white;
}
.but-text2:hover {
  color: black;
}

.buttons {
  padding-top: 1rem;
  padding-left: 1rem;
}
.carousel {
  margin: 2rem 13rem 2rem;
}
.carousel-part {
  background-color: black;
  color: white;
  padding: 6rem;
  text-align: center;
  font-family: "Abel", sans-serif;
}
@media (max-width: 1028px) {
  .carousel {
    margin: 0.5rem;
    padding: 0;
  }
  .quotes {
    font-size: 2rem;
  }
  .carousel {
    padding: 1rem;
  }
  .carousel-part {
    margin: 0.5rem;
  }
}
.saver {
  padding-top: 0.5rem;
  padding-bottom: 4rem;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
  padding-right: 2rem;
  font-family: "Bebas Neue", cursive;
}
.center {
  text-align: center;
  padding-left: 27rem;
}
.fa-angle-double-down {
  color: #b2d430;
  font-size: 4rem;
  padding: 0rem;
}
.fa-long-arrow-alt-down {
  color: #b2d430;
  font-size: 4rem;
  height: 12rem;
}
.mottos {
  font-family: "Bebas Neue", cursive;
  color: white;
  padding-bottom: 4rem;
  padding-top: 4rem;
  background-color: black;
  border-radius: 50%;
  text-align: center;
}
.arrow-image {
  text-align: center;
  padding-left: 27rem;
}
.cen {
  padding-right: 10rem;
  padding-left: 10rem;
}
@media (max-width: 1028px) {
  .mottos {
    border-radius: 0%;
  }
  .cen {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .arrow-image {
    text-align: center;
    padding-left: 0rem;
    width: 26rem;
  }
}
.main-work {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  padding-left: 10rem;
  padding-right: 10rem;
}
@media (max-width: 1028px) {
  .main-work {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.sad {
  font-size: 9rem;
  padding-right: 30px;
  padding: 1rem;
  border-radius: 100%;
  background-color: #b2d430;
  float: right;
  color: black;
}
.happy {
  font-size: 9rem;
  padding-right: 30px;
  padding: 1rem;
  border-radius: 100%;
  background-color: #b2d430;
  float: left;
  color: black;
}

/* Contact Page */
.contact-body {
  background-color: white;
}
.contact-form {
  background-color: #b2d430;
  text-align: center;
  padding-bottom: 2rem;
  color: black;
}
.common-nav {
  background-color: white;
  color: #b2d430;
}
.contact-navbrand {
  color: black;
}
.navbar-toggler {
  background-color: #b2d430;
  color: white;
}

.contact-nav-collapse {
  color: black;
  background-color: #b2d430;
}
.fa-bars {
  padding-top: 0.2rem;
  font-size: 1.5rem;
}

.card-text {
  padding-bottom: 0.3rem;
}
.card-header {
  font-family: "Bebas Neue", cursive;
}

.get-in-touch {
  background-color: black;
  color: white;
  padding-top: 14rem;
  text-align: center;
  font-family: "Abel", sans-serif;
  border-radius: 0;
  margin: 0 5.5rem 0 5.5rem;
}
.fa-map-marker-alt {
  color: white;
  font-size: 2rem;
  opacity: 0.3;
}
.steps {
  text-align: center;
  padding-top: 1rem;
  font-family: "Bebas Neue", cursive;
  color: black;
  font-size: 3rem;
  margin: 0 auto 0 auto;
}
.arrows {
  color: black;
  font-size: 2.5rem;
}
.contact-row {
  padding-top: 1rem;
}
.form-header {
  padding-top: 1rem;
}
.contact-form {
  font-family: "Abel", sans-serif;
}
.submit-btn {
  font-family: "Bebas Neue", cursive;
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 7%;
}
.nav-link {
  color: black;
  padding: 0 1rem;
  font-family: "Abel", sans-serif;
  margin: 2rem 1rem 1rem;
  font-size: 1rem;
}
.home-nav-link {
  color: white;
  padding: 0 1rem;
  font-family: "Abel", sans-serif;
  margin: 2rem 1rem 1rem;
  font-size: 1rem;
}
.icons {
  margin: 2rem;
  text-align: center;
  color: #b2d430;
  opacity: 0.7;
  font-size: 2rem;
}
.icons:hover {
  color: #b2d430;
}
.social-media {
  text-align: center;
}

/* Company Page */
.team-section {
  margin: 2rem auto 2rem auto;
  color: black;
  text-align: left;

  padding: 2rem 4rem 2rem 4rem;
  font-family: "Bebas Neue", cursive;
}
.company-title {
  font-size: 5rem;
}
.highlight {
  color: #b2d430;
}
.headings {
  text-align: left;
  padding-top: 1rem;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
}
.profile-containers {
  margin: 0 auto 0 auto;
  text-align: center;
}
.profile-pics {
  border-radius: 100%;
  margin: 0 auto 0 auto;
  padding: 2rem;
}
.name {
  color: black;
  text-align: center;
  font-family: "Abel", sans-serif;
  font-size: 2rem;
}
.role {
  color: grey;
  text-align: center;
  font-size: 1rem;
  font-family: "Abel", sans-serif;
}
.join-button {
  padding-top: 4.5rem;
  padding-bottom: 3rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 100%;
}
.career {
  text-align: center;
}
.openings {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.openings-section {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  background-color: black;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.lower-text {
  color: white;
}
.fa-arrow-right {
  color: white;
  font-size: 1.5rem;
}

/* Membership Page */
.member-title {
  font-size: 5rem;
  font-family: "Bebas Neue", cursive;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.mem-hover:hover {
  color: black;
}
.container-fluid {
  padding-left: 2rem;
  padding-right: 2rem;
}
.member-sections {
  text-align: left;
  padding: 5rem;
  font-family: "Bebas Neue", cursive;
  line-height: 1rem;
}

#member-form {
  text-align: center;
  background-color: black;
  color: white;
  font-family: "Bebas Neue", cursive;
  padding: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 25rem;
  margin-right: 25rem;
}
@media (max-width: 1028px) {
  #member-form {
    margin: 1rem 2rem 1rem 2rem;
  }
}
.form-text {
  font-family: "Abel", sans-serif;
}
.fas-icons {
  color: #b2d430;
  font-size: 6rem;
  padding: 1rem;
  text-align: center;
  margin: 0 auto 0 auto;
}
.fas-icons:hover {
  color: grey;
}
.highlightGrey {
  color: grey;
}

/* About Page */
.about-titles {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
  color: black;
  padding: 2rem;
  text-align: center;
}
.about-text {
  font-family: "Abel", sans-serif;
  font-size: 2.5rem;
  color: grey;
  padding-left: 14rem;
  padding-right: 14rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
}
.about-history {
  font-family: "Abel", sans-serif;
  font-size: 1.5rem;
  color: grey;
  padding-left: 9rem;
  padding-right: 9rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
}
.align {
  text-align: center;
}
.fa-dollar {
  font-size: 17rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: #092a35;
  text-align: center;
  transform: rotate(25deg);
}
.dollar-sign {
  font-size: 17rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  color: #658525;
  text-align: center;
  transform: rotate(-25deg);
}
.col-xs-6 {
  text-align: center;
}
@media (max-width: 1028px) {
  .about-titles {
    font-size: 3rem;
  }
  .about-text {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .fa-dollar-sign {
    font-size: 11rem;
    padding-top: 1rem;
    margin-top: 2rem;
    padding-bottom: 0rem;
  }
  .dollar-sign {
    font-size: 11rem;
  }
}

/* Footer */
#footer {
  color: #8f8f8f;
  text-align: center;
  margin: 2rem;
}
.footer-logo {
  padding: 1rem 0.5rem 1rem;
}
